<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485876620947-35273b1t8h2ffc15103k9nhutblk4qj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485876620947-35273b1t8h2ffc15103k9nhutblk4qj7</string>
	<key>API_KEY</key>
	<string>AIzaSyCA4zZmic98nUEkpDA7fetc0GQj-D6sRV0</string>
	<key>GCM_SENDER_ID</key>
	<string>485876620947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.twr</string>
	<key>PROJECT_ID</key>
	<string>thewaitingroom-6f4c0</string>
	<key>STORAGE_BUCKET</key>
	<string>thewaitingroom-6f4c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485876620947:ios:cbf121a63cde4345c0b766</string>
	<key>DATABASE_URL</key>
	<string>https://thewaitingroom-6f4c0-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>